/*Dit is de algemene css file van de pagina. Wijzingen aan deze file zijn niet locatie-specifiek*/

/*Algemeen*/
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: smaller;
}

/* De elementen in de header */
.header {
	width: 100%;
	height: 126px;
	margin-bottom: 20px;
}

.header h1{
	float: left;
	margin: 0;
	line-height: 102px;
	font-size: 54px;
}

.header h2{
	float: left;
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	clear: left;
}

/*Tabel*/
table, th, td {
    border: 1px solid ;
    border-color: #b8b8b8;
    border-collapse:collapse;
    font-family: 'Open Sans', sans-serif;
}

th, td {
    padding: 5px;
}

/*Caption (tekst boven tabel)*/
caption {
	margin: 20px 0 10px;
}

caption h2{
	font-weight: 400;
	margin: 0;
}

#left {
	float: left;
}

#right {
	float: right;
}

#logo {
	float: right;
	height: 32px;
}

/*Tabeltitels*/
table.sortable thead {
    background-color:#eee;
    font-weight: bold;
    cursor: default;
}

/*Pijltjes naast de tabeltitels om te laten zien dat deze sorteerbaar zijn*/
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/*Footer*/
#colofon a{
	color: #197793;
	text-decoration: none;
}

#colofon img{
	width: 22px;
}

#colofon {
float: left !important;
