/*
Dit is de locatiespecifieke css file van Grundel. Aanpassingen aan deze file zijn alleen zichtbaar
indien in de setup.php file 'grundel' staat ingesteld onder $afkorting. 
*/

/*Welkomstbericht*/
.header h1{
	color: #1191d0;
}

.header h2{
	color: #1191d0;
}

/* Tabel -> kolomtitels */
table.sortable thead {
    background-color:#eee;
    color:#1191d0;
}

/*Tabelrijen even*/
table.sortable tbody tr:nth-child(2n) td {
  background: #BBDEFB;
}

/*Tabelrijen oneven*/
table.sortable tbody tr:nth-child(2n+1) td {
  background: #ccfffff;
}

/*Stop hier met bewerken!*/

.footer {
	margin-top: 20px;
	width: 100%;
	height: 45px;
}

#footervisual {
	position: relative;
	bottom: -20px;
}

#colofon {
	line-height: 65px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
