/*
Dit is de locatiespecifieke css file van Spindel. Aanpassingen aan deze file zijn alleen zichtbaar
indien in de setup.php file 'spindel' staat ingesteld onder $afkorting. 
*/

/*Welkomstbericht*/
.header h1{
	color: #e41e26;
}

.header h2{
	color: #e41e26;
}

/* Tabel -> kolomtitels */
table.sortable thead {
    background-color:#eee;
    color:#e41e26;
}

/*Tabelrijen even*/
table.sortable tbody tr:nth-child(2n) td {
  background: #FFCDD2;
}

/*Tabelrijen oneven*/
table.sortable tbody tr:nth-child(2n+1) td {
  background: #ccfffff;
}

/*Stop hier met bewerken!*/

.footer {
	margin-top: 20px;
	width: 100%;
	height: 75px;
}

#footervisual {
	position: relative;
	bottom: -10px;
}

#colofon {
	line-height: 85px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
